*
	{
		margin: 0;
		padding: 0;
	}

body
	{
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		font-family: arial;
	}


div.formulario, div.titulo, .contenedor
	{
		background-color: white;
		width: 300px;
		padding: 20px;
		margin: auto;
		display: flex;
		flex-direction: column;
		border-radius: 8px;
		box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
	}

div.titulo
	{
		align-items: center;
	}

div.formulario > div
	{
		padding: 12px 0;
	}

div.flex-item
	{
		display: flex;
		flex-direction: column;	
	}

div.flex-item > label
	{
		margin-bottom: 6px;
	}

div.formulario > div:nth-child(1)
	{
		padding: 0px 0 10px 0;	
	}

div.columnas
	{
		display: grid;		
		grid-template-columns: 1fr 1fr;
	}

div.columnas > label
	{
		grid-column: span 2;
	}

div.opcion
	{
		display: flex;
		justify-content:center;
	}

input[type="radio"]
	{
		margin-right: 5px;
	}

div.formulario button
	{
		background-color: rgba(0,200,80,1);
		border-radius: 5px;
		border: none;
		padding: 8px;
		color: white;
		font-size: 1.2em;
		font-weight: 700;
	}

div.formulario button:hover
	{
		background-color: rgba(0, 125, 40, 1);
	}

.modal
	{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		display: flex;
	}

div.contenedor
	{
		width: 400px;
		display: grid;
		grid-template-columns: 1fr 20px;
		color: white;	
	}

h3.titulo-men
	{
		margin-bottom: 10px;
	}

p.mensaje
	{
		grid-column: span 2;
	}

h3.cerrar
	{
		cursor: pointer;
	}

h3.cerrar:hover
	{
		color: black;
	}

.oculto
	{
		display: none;
	}

.positivo
	{
		background-color:rgba(0,200,80,1);
	}

.negativo
	{
		background-color: rgba(255,0,0,1);
	}